@font-face {
    font-family: 'titlefont';
    src: url('../fonts/Alexana.ttf');
}
@font-face {
    font-family: 'titlefont2';
    src: url('../fonts/Shouldve\ Known.otf');
}
@font-face {
    font-family: 'titlefont3';
    src: url('../fonts/Skateblade-Regular.ttf');
}
